<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<h1>Characters by Origin</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>                
        <th>Image</th>
        <th>Origin</th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= link_to character.name, character_path(character) %></td>
          <td><%= image_tag character.image, alt: character.name, class: "thumbnail-image" %></td>
          <td><%= character.origin.origin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
