<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<h1>Characters by Origin</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        
        <th>Count of Issue Appearances</th>
        <th>Deck</th>
        
        <th>Gender</th>
        <th>Image</th>
        <th>Origin</th>
        <th>Publisher</th>
        <th>Real Name</th>
        <th>Power</th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= character.name %></td>
          
          <td><%= character.count_of_issue_appearances %></td>
          <td><%= character.deck %></td>
          <td><%= character.description %></td>
          <td><%= character.gender %></td>
          <td><%= image_tag character.image, class: "img-thumbnail" %></td>
          <td><%= character.origin.origin %></td>
          <td><%= character.publisher.name %></td>
          <td><%= character.real_name %></td>
          <td><%= character.power %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
