<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<h1>Origins</h1>

<%= paginate @origins, theme: 'twitter-bootstrap-4' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Origin</th>
      <th>Description</th>     
    </tr>
  </thead>
  <tbody>
    <% @origins.each do |origin| %>
      <tr>
        <td><%= origin.id %></td>
        <td><%= origin.origin %></td>
        
        <td>
          <%= link_to "Show", characters_by_origin_path(origin), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


