<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Api detail url:</strong>
    <%= character.api_detail_url %>
  </p>

  <p>
    <strong>Count of issue appearances:</strong>
    <%= character.count_of_issue_appearances %>
  </p>

  <p>
    <strong>Deck:</strong>
    <%= character.deck %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= character.description %>
  </p>

  <p>

  <p>
    <strong>Gender:</strong>
    <%= character.gender %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= character.image %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= character.origin %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= character.publisher %>
  </p>

  <p>
    <strong>Real name:</strong>
    <%= character.real_name %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= character.power %>
  </p>

</div>
