<%= render 'layouts/layout' %>

<p style="color: green"><%= notice %></p>

<h1>Comic Characters</h1>

<%= paginate @characters, theme: 'twitter-bootstrap-4' %>

<%# <style>
  .thumbnail-image {
    max-width: 100px;
    max-height: 100px;
  }
</style> %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Image</th>      
      <th>Publisher</th>
      <th>Origin</th>      
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr> 
        <td></td>       
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= image_tag character.image, alt: character.name, class: 'thumbnail-image' %></td> 
               
        <td>
          <%= character.publisher.name %>
        </td>

        <td><%= link_to character.origin.origin, characters_by_origin_path(character.origin_id), class: "btn btn-link" %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>



