<%= render 'layouts/layout' %>

<p style="color: green"><%= notice %></p>

<h1>Characters</h1>
<%= form_with(url: characters_path, method: :get, class: 'mb-3') do |form| %>
  <div class="form-group">
    <%= form.label :origin_id, 'Filtrar por origen:' %>
    <%= form.collection_select :origin_id, Origin.all, :id, :origin, { include_blank: 'Todos los orígenes' }, class: 'form-control' %>
  </div>
  <%= form.submit 'Filtrar', class: 'btn btn-primary' %>
<% end %>

<style>
  .thumbnail-image {
    max-width: 100px;
    max-height: 100px;
  }
</style>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>      
      <th>Publisher</th>
      <th>Origin</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        
        <td><%= link_to character.name, character_path(character) %></td>

        <td><%= image_tag character.image, class: 'thumbnail-image' %></td>        
        <td><%= character.publisher.name %></td>
        <td><%= character.origin.origin %></td>
        <td><%= link_to 'Mostrar', character %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Character', new_character_path %>
