<%= render 'layouts/layout' %>

<p style="color: green"><%= notice %></p>

<h1>Characters</h1>

<%= paginate @characters, theme: 'twitter-bootstrap-4' %>
<style>
  .thumbnail-image {
    max-width: 100px;
    max-height: 100px;
  }
</style>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Image</th>      
      <th>Publisher</th>
      <th>Origin</th>
      <%# <th>Details</th> %>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr> 
        <td></td>       
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= image_tag character.image, class: 'thumbnail-image' %></td>        
        <td><%= character.publisher.name %></td>
        <td><%= character.origin.origin %></td>
        <%# <td><%= character.deck %></td> 
      </tr>
    <% end %>
  </tbody>
</table>


