<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<h1>Publishers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>D</th>
      
    </tr>
  </thead>
  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.id %></td>
        <td><%= publisher.name %></td>
       
        <td>
          <%= link_to "Show Characters", characters_path(publisher_id: publisher.id), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
