<p style="color: green"><%= notice %></p>

<%= render @publisher %>

<h1><%= @publisher.name %> Characters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.description %></td>
        <td><%= image_tag character.image, class: "character-image" %></td>
      </tr>
    <% end %>
  </tbody>
</table>